html {
  background: white; }

.navbar-default {
  background: #f7e7ed;
  border-bottom: solid 1px #f7e7ed; }

nav h1 {
  margin-left: 15px; }
nav ul {
  list-style: none; }
  nav ul li {
    display: inline-block; }

svg {
  fill: #D986A6;
  height: 20px; }

.cart {
  width: 35px;
  height: 30px; }

main .filter {
  margin-top: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 245, 245, 0.6);
  z-index: 2; }
main #wrapper {
  padding: 5px;
  position: relative;
  top: 100px;
  width: 100%;
  background: url("../img/main_backdrop.jpeg");
  background-size: cover; }
  main #wrapper #container {
    font-family: cursive;
    background-size: cover;
    text-align: center;
    width: 100%;
    display: block;
    margin: 200px auto;
    position: relative;
    max-width: 500px; }
    main #wrapper #container h3 {
      position: relative;
      z-index: 3;
      font-family: 'Bad Script', cursive;
      font-size: 3rem;
      line-height: 50px;
      font-weight: 800;
      color: #4f4749; }
main .spacer {
  margin: 119px auto; }
main .sidebar {
  height: 84%;
  overflow: scroll;
  direction: rtl;
  position: fixed;
  right: 0;
  text-align: center;
  display: none; }
  @media (min-width: 860px) {
    main .sidebar {
      display: inherit;
      float: right;
      width: 24%;
      max-width: 300px;
      background: #e3b8be; }
      main .sidebar .sidebar_header {
        margin-top: 10px;
        border-top: 5px solid #f1d4df;
        border-bottom: 5px dashed #f1d4df; }
      main .sidebar .sidebar_item {
        margin: auto;
        text-align: left;
        width: 80%;
        border-bottom: 2px solid #f1d4df; } }
@media (min-width: 860px) {
  main #blog_container {
    max-width: 75%; } }
main #blog_container #blog_entry {
  width: 90%;
  max-width: 700px;
  display: block;
  margin: auto;
  border-bottom: solid 3px #D4D5D6;
  text-align: center;
  padding: 25px;
  height: auto; }
  main #blog_container #blog_entry img {
    width: 80%;
    height: 30%;
    border-radius: 5px;
    margin-bottom: 25px; }
  main #blog_container #blog_entry h1 {
    text-align: left; }
main #blog_entry:last-of-type {
  border-bottom: none; }
main #about_container {
  display: block;
  width: 500px;
  margin: 50px auto; }

.container {
  width: 100%; }
  .container .row-centered {
    text-align: center; }
  .container .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px; }

.shop-item-container {
  background: #fefafc;
  margin: 5px; }
  .shop-item-container img {
    display: block;
    margin: 10px auto;
    width: 90%; }

.about_container {
  width: 100%;
  height: auto; }
  .about_container .identify_wrapper {
    border-bottom: solid #EEEFF0 2px;
    padding: 20px;
    min-height: 400px; }
    @media (min-width: 860px) {
      .about_container .identify_wrapper {
        max-width: 800px;
        display: block;
        margin: auto; } }
    .about_container .identify_wrapper img {
      display: block;
      margin: auto;
      width: 250px;
      border-radius: 100%; }
      @media (min-width: 860px) {
        .about_container .identify_wrapper img {
          margin: 10 auto 25;
          float: left; } }
    .about_container .identify_wrapper h1 {
      text-align: left;
      margin-bottom: 0px; }
    .about_container .identify_wrapper .identify_p {
      padding: 15px;
      display: block;
      margin: auto; }
      .about_container .identify_wrapper .identify_p :last-child {
        border-top: solid #EEEFF0 2px; }
      @media (min-width: 860px) {
        .about_container .identify_wrapper .identify_p {
          float: right;
          max-width: 500px; } }
      .about_container .identify_wrapper .identify_p p {
        padding-top: 10px;
        font-size: 1.5rem; }

.catalog_index {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: wrap;
  margin: auto; }
  .catalog_index .catalog_index_item {
    background: url("../img/books.jpg");
    background-size: contain;
    height: 255px;
    position: relative;
    z-index: 0;
    width: calc(99%/4);
    margin: 1px; }
    .catalog_index .catalog_index_item .catalog_filter {
      z-index: 0;
      height: 100%;
      position: absolute;
      width: calc(100%/4);
      background: rgba(244, 244, 244, 0.3); }
    .catalog_index .catalog_index_item h2 {
      z-index: 1;
      color: #272324;
      text-align: center;
      line-height: 305px; }

footer {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background: #EEEFF0;
  clear: both;
  display: flex; }
  footer #footer_footer {
    width: 33%; }

.selected {
  text-decoration: line-through;
  pointer-events: none; }

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

form {
  display: block;
  margin: auto;
  max-width: 700px;
  padding: 10px; }
  form label {
    width: 80%;
    display: block;
    margin: auto; }
  form input, form select {
    display: block;
    width: 80%;
    border-radius: 4px;
    font-size: .9rem;
    font-style: italic;
    height: 35px;
    color: #444;
    margin: 7px auto 15px; }
  form button {
    display: block;
    margin: auto; }
  form p {
    margin-top: 10px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
