form{
    display:block;
    margin:auto;
    max-width:700px;
    padding:10px;
    label{
        width:80%;
        display: block;
        margin: auto;   
    }
    input ,select{
    display: block;
    width:80%;
    border-radius: 4px;
    font-size: .9rem;
    font-style: italic;
    height:35px;
    color:#444;
    margin:7px auto 15px;
    }
    button{
        display: block;
        margin:auto;
    }
    p{
        margin-top: 10px;
        text-align: center;
    }
}